
@font-face {
                          font-family: "MyriadHebrew-Regular";
                          src: url('../fonts/MyriadHebrew-Regular.otf') format("opentype");
                        }
                        @font-face {
                          font-family: "Georgia";
                          src: url('../fonts/Georgia.ttf') format("truetype");
                        }
                        @font-face {
                          font-family: "TimesNewRomanPSMT";
                          src: url('../fonts/Times New Roman.ttf') format("truetype");
                        }
                        @font-face {
                          font-family: "AppleMyungjo";
                          src: url('../fonts/AppleMyungjo.ttf') format("truetype");
                        }
                        
.mac {
  width               : 100%;
  min-width           : 1280px;
  height              : 100vh;
  min-height          : 700px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color    : rgba(255, 255, 255, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
div {
  -webkit-text-size-adjust: none;
}
.mac .u7f16u7ec4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : -99px;
  height              : 1091px;
  width               : 1388px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.mac .u7f16u7ec4 .u77e9u5f62 {
  background-color    : rgba(245, 245, 245, 1.0);
  top                 : 0px;
  height              : 1091px;
  width               : 1280px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.mac .u7f16u7ec4 .joinin {
  background-color    : rgba(255,255,255,0.0);
  top                 : 53px;
  height              : auto;
  width               : 219px;
  position            : absolute;
  margin              : 0;
  left                : 1169px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "PingFangSC-Semibold", Helvetica, Arial, serif;
  font-size           : 25.2px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 36.0px;
}
.mac .u4f4du56fe {
  background-color    : rgba(255,255,255,0.0);
  top                 : 49px;
  height              : 303px;
  width               : 1300px;
  position            : absolute;
  margin              : 0;
  left                : -21px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.mac .u7f16u7ec43 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 262px;
  height              : 782px;
  width               : 549px;
  position            : absolute;
  margin              : 0;
  left                : 203px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.mac .u7f16u7ec43 .u77e9u5f62 {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 0px;
  height              : 639px;
  width               : 549px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.mac .u7f16u7ec43 .march282018 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 89px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 44px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "MyriadHebrew-Regular", Helvetica, Arial, serif;
  font-size           : 21.0px;
  color               : rgba(112, 112, 112, 1.0);
  text-align          : left;
  line-height         : 25.0px;
}
.mac .u7f16u7ec43 .u7f16u7ec42 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 25px;
  height              : 64px;
  width               : 450px;
  position            : absolute;
  margin              : 0;
  left                : 44px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.mac .u7f16u7ec43 .u7f16u7ec42 .machupicchuthemo {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : 450px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Georgia", Helvetica, Arial, serif;
  font-size           : 28.0px;
  color               : rgba(74, 74, 74, 1.0);
  text-align          : left;
  line-height         : 32.0px;
}
.mac .u7f16u7ec43 .machupicchuisinp {
  background-color    : rgba(255,255,255,0.0);
  top                 : 152px;
  height              : auto;
  width               : 475px;
  position            : absolute;
  margin              : 0;
  left                : 44px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "TimesNewRomanPSMT", Helvetica, Arial, serif;
  font-size           : 13.0px;
  color               : rgba(74, 74, 74, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.mac .u7f16u7ec43 .images1 {
  background-color    : rgba(215, 215, 215, 1.0);
  top                 : 377px;
  height              : 177px;
  width               : 301px;
  position            : absolute;
  margin              : 0;
  left                : 113px;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.mac .u7f16u7ec43 .images1 .u8499u7248 {
  background-color    : rgba(215, 215, 215, 1.0);
  top                 : 0px;
  height              : 177px;
  width               : 301px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.mac .u7f16u7ec43 .images1 .images2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : -4px;
  height              : 191px;
  width               : 375px;
  position            : absolute;
  margin              : 0;
  left                : -74px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.mac .u7f16u7ec41 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 59px;
  width               : 1296px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.mac .u7f16u7ec41 .u77e9u5f62 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 55px;
  width               : 1296px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.mac .u7f16u7ec41 .help {
  background-color    : rgba(255,255,255,0.0);
  top                 : 17px;
  height              : auto;
  width               : 55px;
  position            : absolute;
  margin              : 0;
  left                : 1120px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "PingFangSC-Semibold", Helvetica, Arial, serif;
  font-size           : 17.2px;
  color               : rgba(74, 73, 74, 1.0);
  text-align          : left;
  line-height         : 24.0px;
}
.mac .u7f16u7ec41 .log {
  background-color    : rgba(255,255,255,0.0);
  top                 : 6px;
  height              : 62px;
  width               : 156px;
  position            : absolute;
  margin              : 0;
  left                : 48px;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.mac .u7f16u7ec41 .log .background {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 62px;
  width               : 156px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.mac .u7f16u7ec41 .log .sga {
  background-color    : rgba(255,255,255,0.0);
  top                 : 24px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 93px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "BanglaMN-Bold", Helvetica, Arial, serif;
  font-size           : 14.7px;
  color               : rgba(74, 73, 74, 1.0);
  text-align          : left;
  line-height         : 26.0px;
}
.mac .u7f16u7ec41 .log .worldinmyeye {
  background-color    : rgba(255,255,255,0.0);
  top                 : 10px;
  height              : 43px;
  width               : 62px;
  position            : absolute;
  margin              : 0;
  left                : 15px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.mac .u7f16u7ec41 .log .worldinmyeye .u5f62u72b6u7ed3u5408 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 43px;
  width               : 62px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.mac .u7f16u7ec41 .log .worldinmyeye .u4f4du56fe1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 5px;
  height              : 34px;
  width               : 36px;
  position            : absolute;
  margin              : 0;
  left                : 13px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.mac .u7f16u7ec41 .search {
  background-color    : rgba(255,255,255,0.0);
  top                 : 18px;
  height              : 27px;
  width               : 242px;
  position            : absolute;
  margin              : 0;
  left                : 432px;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.mac .u7f16u7ec41 .search .background {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 27px;
  width               : 242px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.mac .u7f16u7ec41 .search .u77e9u5f621 {
  background-color    : rgba(204, 219, 239, 1.0);
  top                 : 0px;
  height              : 27px;
  width               : 214px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.mac .u7f16u7ec41 .search .searchuserscountr {
  background-color    : rgba(255,255,255,0.0);
  top                 : 7px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 2px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "PingFangSC-Semibold", Helvetica, Arial, serif;
  font-size           : 10.71px;
  color               : rgba(117, 117, 117, 1.0);
  text-align          : left;
  line-height         : 15.0px;
}
.mac .u7f16u7ec41 .search .search1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 3px;
  height              : 19px;
  width               : 15px;
  position            : absolute;
  margin              : 0;
  left                : 226px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.mac .u7f16u7ec41 .search .search1 .u7f16u7ec431 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 19px;
  width               : 15px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.mac .u7f16u7ec41 .search .search1 .u7f16u7ec431 .u692du5706u5f62 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 13px;
  width               : 14px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.mac .u7f16u7ec41 .search .search1 .u7f16u7ec431 .u76f4u7ebf {
  background-color    : rgba(255,255,255,0.0);
  top                 : 10px;
  height              : 8px;
  width               : 6px;
  position            : absolute;
  margin              : 0;
  left                : 10px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.mac .u7f16u7ec41 .u7f16u7ec42 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 9px;
  height              : 38px;
  width               : 84px;
  position            : absolute;
  margin              : 0;
  left                : 1192px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.mac .u7f16u7ec41 .u7f16u7ec42 .u77e9u5f621 {
  background-color    : rgba(141, 177, 226, 1.0);
  top                 : 0px;
  height              : 37px;
  width               : 84px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.mac .u7f16u7ec41 .u7f16u7ec42 .joinin {
  background-color    : rgba(255,255,255,0.0);
  top                 : 6px;
  height              : auto;
  width               : 57px;
  position            : absolute;
  margin              : 0;
  left                : 14px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "PingFangSC-Semibold", Helvetica, Arial, serif;
  font-size           : 17.64px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 25.0px;
}
.mac .images {
  background-color    : rgba(255,255,255,0.0);
  top                 : 262px;
  height              : 438px;
  width               : 263px;
  position            : absolute;
  margin              : 0;
  left                : 814px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.mac .images .images1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 232px;
  height              : 206px;
  width               : 263px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.mac .images .u4f4du56fe1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 172px;
  width               : 260px;
  position            : absolute;
  margin              : 0;
  left                : 1px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.mac .images .pinpoint {
  background-color    : rgba(255,255,255,0.0);
  top                 : 73px;
  height              : 29px;
  width               : 23px;
  position            : absolute;
  margin              : 0;
  left                : 120px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.mac .images .pinpoint .u5f62u72b6u7ed3u5408 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 29px;
  width               : 23px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}