
@font-face {
                          font-family: "MyriadHebrew-Regular";
                          src: url('../fonts/MyriadHebrew-Regular.otf') format("opentype");
                        }
                        @font-face {
                          font-family: "Georgia";
                          src: url('../fonts/Georgia.ttf') format("truetype");
                        }
                        @font-face {
                          font-family: "TimesNewRomanPSMT";
                          src: url('../fonts/Times New Roman.ttf') format("truetype");
                        }
                        @font-face {
                          font-family: "AppleMyungjo";
                          src: url('../fonts/AppleMyungjo.ttf') format("truetype");
                        }
                        
.signup {
  width               : 100%;
  min-width           : 1280px;
  height              : 100vh;
  min-height          : 688px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color    : rgba(255, 255, 255, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
div {
  -webkit-text-size-adjust: none;
}
.signup .u4f4du56fe {
  background-color    : rgba(255,255,255,0.0);
  top                 : -16px;
  height              : 721px;
  width               : 1282px;
  position            : absolute;
  margin              : 0;
  left                : -1px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.signup .u76f4u7ebf2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 263px;
  height              : 1px;
  width               : 169px;
  position            : absolute;
  margin              : 0;
  left                : 461px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.signup .bgsignup {
  background-color    : rgba(255,255,255,0.0);
  top                 : 92px;
  height              : 522px;
  width               : 373px;
  position            : absolute;
  margin              : 0;
  left                : 453px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.signup .fbsignin {
  background-color    : rgba(255,255,255,0.0);
  top                 : 455px;
  height              : 51px;
  width               : 247px;
  position            : absolute;
  margin              : 0;
  left                : 517px;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.signup .fbsignin .background {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 50px;
  width               : 247px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.signup .fbsignin .u77e9u5f62 {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 6px;
  height              : 39px;
  box-sizing          : border-box;
  width               : 236px;
  position            : absolute;
  margin              : 0;
  left                : 6px;
  border-radius       : 19px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(66, 94, 172, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.signup .fbsignin .fb4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 15px;
  height              : 21px;
  width               : 21px;
  position            : absolute;
  margin              : 0;
  left                : 23px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.signup .fbsignin .fb4 .fill92copy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 20px;
  width               : 20px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.signup .fbsignin .signinwithfaceboo {
  background-color    : rgba(255,255,255,0.0);
  top                 : 19px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 69px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 11.09px;
  color               : rgba(66, 94, 172, 1.0);
  text-align          : left;
  letter-spacing      : 0.55px;
  line-height         : 12.0px;
}
.signup .fbsignin1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 506px;
  height              : 51px;
  width               : 255px;
  position            : absolute;
  margin              : 0;
  left                : 515px;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.signup .fbsignin1 .background {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 50px;
  width               : 255px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.signup .fbsignin1 .u77e9u5f62 {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 4px;
  height              : 39px;
  box-sizing          : border-box;
  width               : 235px;
  position            : absolute;
  margin              : 0;
  left                : 9px;
  border-radius       : 19px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(221, 75, 56, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.signup .fbsignin1 .signinwithgoogle {
  background-color    : rgba(255,255,255,0.0);
  top                 : 18px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 72px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 11.09px;
  color               : rgba(221, 75, 56, 1.0);
  text-align          : left;
  letter-spacing      : 0.55px;
  line-height         : 12.0px;
}
.signup .fbsignin1 .google4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 14px;
  height              : 21px;
  width               : 21px;
  position            : absolute;
  margin              : 0;
  left                : 26px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.signup .fbsignin1 .google4 .groupcopy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 21px;
  width               : 21px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.signup .fbsignin1 .google4 .groupcopy .fill94 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 6px;
  height              : 3px;
  width               : 3px;
  position            : absolute;
  margin              : 0;
  left                : 7px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.signup .fbsignin1 .google4 .groupcopy .fill95 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 11px;
  height              : 3px;
  width               : 4px;
  position            : absolute;
  margin              : 0;
  left                : 6px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.signup .fbsignin1 .google4 .groupcopy .fill96 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 20px;
  width               : 20px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.signup .u76f4u7ebf {
  background-color    : rgba(255,255,255,0.0);
  top                 : 443px;
  height              : 1px;
  width               : 306px;
  position            : absolute;
  margin              : 0;
  left                : 486px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.signup .u7f16u7ec4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 233px;
  height              : 202px;
  width               : 171px;
  position            : absolute;
  margin              : 0;
  left                : 555px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.signup .u7f16u7ec4 .group {
  background-color    : rgba(255,255,255,0.0);
  top                 : 171px;
  height              : 31px;
  width               : 170px;
  position            : absolute;
  margin              : 0;
  left                : 1px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.signup .u7f16u7ec4 .group .rectangle37copy2 {
  background-color    : rgba(101, 144, 203, 1.0);
  top                 : 1px;
  height              : 30px;
  width               : 170px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 2px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.signup .u7f16u7ec4 .group .signin {
  background-color    : rgba(255,255,255,0.0);
  top                 : 7px;
  height              : auto;
  width               : 62px;
  position            : absolute;
  margin              : 0;
  left                : 53px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 600;
  font-style          : normal;
  font-size           : 14.08px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  letter-spacing      : 0.7px;
  line-height         : 16.0px;
}
.signup .u7f16u7ec4 .usernamefield {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 46px;
  width               : 170px;
  position            : absolute;
  margin              : 0;
  left                : 1px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.signup .u7f16u7ec4 .usernamefield .rectangle37 {
  background-color    : rgba(206, 224, 248, 1.0);
  top                 : 16px;
  height              : 30px;
  width               : 170px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 2px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.signup .u7f16u7ec4 .usernamefield .username {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : 56px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AppleMyungjo", Helvetica, Arial, serif;
  font-size           : 8.8px;
  color               : rgba(122, 159, 203, 1.0);
  text-align          : left;
  letter-spacing      : 0.44px;
  line-height         : 11.0px;
}
.signup .u7f16u7ec4 .usernamefield .becreative {
  background-color    : rgba(255,255,255,0.0);
  top                 : 27px;
  height              : auto;
  width               : 57px;
  position            : absolute;
  margin              : 0;
  left                : 7px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.75;
  font-family         : "AppleMyungjo", Helvetica, Arial, serif;
  font-size           : 9.68px;
  color               : rgba(82, 82, 82, 1.0);
  text-align          : left;
  letter-spacing      : 0.15px;
  line-height         : 11.0px;
}
.signup .u7f16u7ec4 .passwordfield {
  background-color    : rgba(255,255,255,0.0);
  top                 : 57px;
  height              : 46px;
  width               : 170px;
  position            : absolute;
  margin              : 0;
  left                : 1px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.signup .u7f16u7ec4 .passwordfield .rectangle37 {
  background-color    : rgba(206, 224, 248, 1.0);
  top                 : 16px;
  height              : 30px;
  width               : 170px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 2px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.signup .u7f16u7ec4 .passwordfield .password {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : 54px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AppleMyungjo", Helvetica, Arial, serif;
  font-size           : 8.8px;
  color               : rgba(122, 159, 203, 1.0);
  text-align          : left;
  letter-spacing      : 0.44px;
  line-height         : 11.0px;
}
.signup .u7f16u7ec4 .passwordfield .atleast6character {
  background-color    : rgba(255,255,255,0.0);
  top                 : 27px;
  height              : auto;
  width               : 104px;
  position            : absolute;
  margin              : 0;
  left                : 8px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.75;
  font-family         : "AppleMyungjo", Helvetica, Arial, serif;
  font-size           : 9.68px;
  color               : rgba(82, 82, 82, 1.0);
  text-align          : left;
  letter-spacing      : 0.15px;
  line-height         : 11.0px;
}
.signup .u7f16u7ec4 .passwordfield1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 114px;
  height              : 46px;
  width               : 170px;
  position            : absolute;
  margin              : 0;
  left                : 1px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.signup .u7f16u7ec4 .passwordfield1 .rectangle37 {
  background-color    : rgba(206, 224, 248, 1.0);
  top                 : 16px;
  height              : 30px;
  width               : 170px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 2px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.signup .u7f16u7ec4 .passwordfield1 .password {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : 54px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AppleMyungjo", Helvetica, Arial, serif;
  font-size           : 8.8px;
  color               : rgba(122, 159, 203, 1.0);
  text-align          : left;
  letter-spacing      : 0.44px;
  line-height         : 11.0px;
}
.signup .u7f16u7ec4 .passwordfield1 .atleast6character {
  background-color    : rgba(255,255,255,0.0);
  top                 : 27px;
  height              : auto;
  width               : 104px;
  position            : absolute;
  margin              : 0;
  left                : 8px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.75;
  font-family         : "AppleMyungjo", Helvetica, Arial, serif;
  font-size           : 9.68px;
  color               : rgba(82, 82, 82, 1.0);
  text-align          : left;
  letter-spacing      : 0.15px;
  line-height         : 11.0px;
}
.signup .signuplogintab {
  background-color    : rgba(255,255,255,0.0);
  top                 : 181px;
  height              : 37px;
  width               : 305px;
  position            : absolute;
  margin              : 0;
  left                : 487px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.signup .signuplogintab .rectangle7copy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 3px;
  width               : 306px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.1;
}
.signup .signuplogintab .rectangle7copy1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 34px;
  height              : 3px;
  width               : 306px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.1;
}
.signup .signuplogintab .rectangle17 {
  background-color    : rgba(96, 95, 95, 1.0);
  top                 : 1px;
  height              : 35px;
  box-sizing          : border-box;
  width               : 3px;
  position            : absolute;
  margin              : 0;
  left                : 153px;
  border-style        : solid;
  border-width        : 0px;
  border-color        : rgba(85, 85, 85, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.1;
}
.signup .signuplogintab .signup1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 13px;
  height              : auto;
  width               : 54px;
  position            : absolute;
  margin              : 0;
  left                : 51px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 600;
  font-style          : normal;
  font-size           : 9.68px;
  color               : rgba(114, 114, 114, 1.0);
  text-align          : left;
  letter-spacing      : 0.48px;
  line-height         : 11.0px;
}
.signup .signuplogintab .rectangle18 {
  background-color    : rgba(255, 230, 47, 1.0);
  top                 : 34px;
  height              : 2px;
  width               : 85px;
  position            : absolute;
  margin              : 0;
  left                : 33px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.signup .signuplogintab .login {
  background-color    : rgba(255,255,255,0.0);
  top                 : 13px;
  height              : auto;
  width               : 54px;
  position            : absolute;
  margin              : 0;
  left                : 209px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 600;
  font-style          : normal;
  font-size           : 9.68px;
  color               : rgba(185, 185, 185, 1.0);
  text-align          : left;
  letter-spacing      : 0.48px;
  line-height         : 11.0px;
}
.signup .log {
  background-color    : rgba(255,255,255,0.0);
  top                 : 126px;
  height              : 54px;
  width               : 131px;
  position            : absolute;
  margin              : 0;
  left                : 575px;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.signup .log .background {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 54px;
  width               : 131px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.signup .log .sga {
  background-color    : rgba(255,255,255,0.0);
  top                 : 18px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 78px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "BanglaMN-Bold", Helvetica, Arial, serif;
  font-size           : 15.55px;
  color               : rgba(74, 73, 74, 1.0);
  text-align          : left;
  line-height         : 28.0px;
}
.signup .log .worldinmyeye {
  background-color    : rgba(255,255,255,0.0);
  top                 : 8px;
  height              : 38px;
  width               : 52px;
  position            : absolute;
  margin              : 0;
  left                : 12px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.signup .log .worldinmyeye .u5f62u72b6u7ed3u5408 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 38px;
  width               : 52px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.signup .log .worldinmyeye .u4f4du56fe1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 4px;
  height              : 30px;
  width               : 30px;
  position            : absolute;
  margin              : 0;
  left                : 11px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}